{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employee Record Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://kit.fontawesome.com/18d62638c1.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Neuton&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Overlock&display=swap" rel="stylesheet">
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
  {% block head %}
  {% endblock %}
</head>
<body style="height: 100vh; width: 100%; margin: 0; padding: 0; ">
	<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #281a66;" >
	  <ul class="navbar-nav">
	    <li class="navbar-brand active">
	      <a class="nav-link" href="/" style="font-family: 'Overlock', cursive;">Employe Managemet System</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="home" style="font-family: 'Neuton', serif;"><i class="fa fa-home"></i>Home</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="signup" style="font-family: 'Neuton', serif;"><i class="fa fa-user-plus"></i>SignUp</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="login" style="font-family: 'Neuton', serif;"><i class="fas fa-sign-in-alt"></i>Login</a>
	    </li>
	  </ul>
	</nav>
  {% block body %}
  {% endblock %}
</body>
</html>